# Localization System

## Table of Content 
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<!-- <li><a href="#eda">Exploratory Data Analysis</a></li> -->
<li><a href="#model"> Building a model </a></li>
</ul>

<a id='intro'></a>
## Introduction 
Localziation system built using machine learning classifiers, data is collected at Cairo University Faculty of Engineering Biomedical Engineering Department. The Data is a collection of WiFi\`s RSSI\`s (dbm) of Wifi Networks available in the department. RSSI measurements represent the relative quality of a received signal on a device. RSSI indicates the power level being received after any possible loss at the antenna and cable level. The higher the RSSI value, the stronger the signal. When measured in negative numbers, the number that is closer to zero usually means better signal. As an example -50 is a pretty good signal, -75 - is fairly reasonable, and -100 is no signal at all. Identifying a patient\`s location in a hospital is useful for many reasons one of which is to identify points of conjestions and try to rearrange the hospital survices, also used to identify how many patients are in the hospital. 

So We are going to dive into our gathered data and invetigate our findings.

In [1]:
# Basic Importations 
import pandas as pd 
import numpy as np

<a id="#wrangling"></a>
## Data Wrangling 
Let\`s dive into our gathered data and find it\`s secerets.

In [2]:
# Read our datasets 
df_ta = pd.read_csv('esp_csv_only/csv/Ta.csv')
df_lab = pd.read_csv('esp_csv_only/csv/Lab.csv')
df_ts = pd.read_csv('esp_csv_only/csv/ts.csv')
df_hall_4 = pd.read_csv('esp_csv_only/csv/hall_4.csv')
df_hall_5 = pd.read_csv('esp_csv_only/csv/hall_5.csv')
df_hall_6 = pd.read_csv('esp_csv_only/csv/hall_6.csv')
df_main_hall = pd.read_csv('esp_csv_only/csv/main_hall.csv')
# Show Heads 
df_lab.describe()

,StudBME1,STUDBME2,SBME_STAFF3,SBME_STAFF,CUFE,RehabLab,lab001,BMEStudentLab3,CMP_LAB,CMP_LAB1,CMP_LAB2
count,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.0,149.0,149.000000,149.000000
mean,-81.624161,-57.053691,-87.214765,-77.194631,-68.946309,-87.946309,-84.315436,0.0,0.0,-58.570470,-60.677852
std,12.310442,4.658304,2.255815,27.815919,35.480826,2.189611,4.304440,0.0,0.0,30.234948,31.482356
min,-89.000000,-73.000000,-93.000000,-89.000000,-90.000000,-94.000000,-92.000000,0.0,0.0,-85.000000,-87.000000
25%,-85.000000,-60.000000,-89.000000,-88.000000,-88.000000,-89.000000,-87.000000,0.0,0.0,-74.000000,-77.000000
50%,-84.000000,-58.000000,-87.000000,-87.000000,-87.000000,-88.000000,-85.000000,0.0,0.0,-73.000000,-74.000000
75%,-82.000000,-54.000000,-86.000000,-86.000000,-85.000000,-87.000000,-82.000000,0.0,0.0,-71.000000,-71.000000
max,0.000000,-47.000000,-80.000000,0.000000,0.000000,-78.000000,-71.000000,0.0,0.0,0.000000,0.000000

In [3]:
df_ta.describe()

,StudBME1,STUDBME2,SBME_STAFF3,SBME_STAFF,CUFE,RehabLab,lab001,BMEStudentLab3,CMP_LAB,CMP_LAB1,CMP_LAB2
count,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.0,151.0,151.000000,151.000000
mean,-78.980132,-69.589404,-71.913907,-84.940397,-83.238411,-68.847682,-86.317881,0.0,0.0,-77.874172,-75.317881
std,10.841568,9.522795,35.969420,10.426397,19.977557,37.952909,10.471785,0.0,0.0,20.161781,25.352021
min,-92.000000,-85.000000,-95.000000,-95.000000,-91.000000,-93.000000,-95.000000,0.0,0.0,-90.000000,-89.000000
25%,-84.000000,-73.000000,-91.000000,-88.000000,-91.000000,-90.000000,-89.000000,0.0,0.0,-86.500000,-86.000000
50%,-80.000000,-70.000000,-91.000000,-86.000000,-87.000000,-90.000000,-88.000000,0.0,0.0,-82.000000,-83.000000
75%,-76.000000,-67.000000,-86.000000,-85.000000,-85.000000,-86.500000,-86.000000,0.0,0.0,-80.000000,-81.000000
max,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000

The first look into the data insights the following:

- BMEStudentLab3 & CMP_LAB are out of range and their values wont benefit our model. 
- There are a lot of zeros in the recorded data.

### The Zeros problem :
The data is recorded in a way that, if one of the specified wifi networks is not found or out of range it records the value for that moment as zero, according to the documentation of the ESP Module the RSSI\`s of a wifi network is a value that ranges from -100 to -50 dB, -100 for bad network connectivity (Signal Strength) and -50 good network connnectivity.
<img src="sources/wifi.jpeg">
So we can treat a zero value as miss recorded value (seems to be an error in the chip) and replace it with any method we want, we will stick with replacing with the mean for now.

In [4]:
df_lab[df_lab.duplicated()]

,StudBME1,STUDBME2,SBME_STAFF3,SBME_STAFF,CUFE,RehabLab,lab001,BMEStudentLab3,CMP_LAB,CMP_LAB1,CMP_LAB2
32,-85,-58,-85,-86,-88,-88,-87,0,0,-74,-75
97,-84,-60,-90,-88,-87,-89,-83,0,0,-73,-84

In [5]:
df_hall_4[df_hall_4.duplicated()]

Empty DataFrame
Columns: [StudBME1, STUDBME2, SBME_STAFF3, SBME_STAFF, CUFE, RehabLab, lab001, BMEStudentLab3, CMP_LAB, CMP_LAB1, CMP_LAB2]
Index: []

In [6]:
df_hall_5[df_hall_5.duplicated()]

Empty DataFrame
Columns: [StudBME1, STUDBME2, SBME_STAFF3, SBME_STAFF, CUFE, RehabLab, lab001, BMEStudentLab3, CMP_LAB, CMP_LAB1, CMP_LAB2]
Index: []

## Imputing miss calculated records

In [7]:
# Drop the two bad coloumns 
bad_cols = [df_lab.BMEStudentLab3.name, df_lab.CMP_LAB.name]

# dfs classes 1, 2, 3, 4, 5, 6
dfs = [df_ta, df_lab, df_ts, df_hall_4, df_hall_5, df_hall_6, df_main_hall]

for df in dfs:
    df.drop(bad_cols, axis=1, inplace=True)

imp_cols = ['StudBME1', 'STUDBME2', 'SBME_STAFF3', 'SBME_STAFF', 'CUFE',
       'RehabLab', 'lab001', 'CMP_LAB1', 'CMP_LAB2']

# Check 
print([(df.columns.values == imp_cols).all() for df in dfs])

[True, True, True, True, True, True, True]

In [8]:
(df.columns.values == imp_cols).all()

True

In [9]:
# Replace Zeros with the mean
cols = df_lab.columns

for df in dfs:
    df[cols] = df[cols].replace({0: np.nan})

# Check 
print([(df[imp_cols].isnull().sum().values > 0).any() for df in dfs])

[True, True, False, False, False, False, True]

In [10]:
miss = []

for df in dfs:
        missing = [col for col in df if df[col].isnull().sum()>0]
        miss.append(missing)

        
# for i in df_lab.columns:
#     missing_lab = df_lab[i].isnull().sum()
#     missing_ta = df_ta[i].isnull().sum()
    
#     if missing_lab >0 :
#         miss_lab.append(i)
        
#     if missing_ta >0:
#         miss_ta.append(i)
# print(miss_lab)
# print(miss_ta)
miss

[['StudBME1',
  'STUDBME2',
  'SBME_STAFF3',
  'SBME_STAFF',
  'CUFE',
  'RehabLab',
  'lab001',
  'CMP_LAB1',
  'CMP_LAB2'],
 ['StudBME1', 'SBME_STAFF', 'CUFE', 'CMP_LAB1', 'CMP_LAB2'],
 [],
 [],
 [],
 [],
 ['CUFE', 'RehabLab', 'lab001']]

In [11]:
# Replace missing with mean 
for idx, df_cols in enumerate(miss):
    for df_col in df_cols:
        dfs[idx][df_col].fillna(round(dfs[idx][df_col].mean(),1), inplace=True)

In [12]:
# Set Classes for each location
for idx, df in enumerate(dfs):
    df['location'] = idx+1

In [13]:
df_lab.describe()

,StudBME1,STUDBME2,SBME_STAFF3,SBME_STAFF,CUFE,RehabLab,lab001,CMP_LAB1,CMP_LAB2,location
count,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.0
mean,-83.301342,-57.053691,-87.214765,-87.132215,-87.067785,-87.946309,-84.315436,-73.966443,-76.614765,2.0
std,3.704216,4.658304,2.255815,1.044824,1.275087,2.189611,4.304440,2.613417,4.165372,0.0
min,-89.000000,-73.000000,-93.000000,-89.000000,-90.000000,-94.000000,-92.000000,-85.000000,-87.000000,2.0
25%,-85.000000,-60.000000,-89.000000,-88.000000,-88.000000,-89.000000,-87.000000,-74.000000,-77.000000,2.0
50%,-84.000000,-58.000000,-87.000000,-87.100000,-87.000000,-88.000000,-85.000000,-73.000000,-76.000000,2.0
75%,-82.000000,-54.000000,-86.000000,-86.000000,-87.000000,-87.000000,-82.000000,-73.000000,-74.000000,2.0
max,-73.000000,-47.000000,-80.000000,-85.000000,-84.000000,-78.000000,-71.000000,-69.000000,-69.000000,2.0

In [14]:
df_ta.describe()

,StudBME1,STUDBME2,SBME_STAFF3,SBME_STAFF,CUFE,RehabLab,lab001,CMP_LAB1,CMP_LAB2,location
count,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.000000,151.0
mean,-80.039735,-70.523179,-89.735099,-86.080795,-87.895364,-89.615894,-87.476821,-82.809272,-83.622517,1.0
std,5.766433,5.024718,1.741846,3.349661,2.983764,0.845860,2.996853,4.424076,3.588763,0.0
min,-92.000000,-85.000000,-95.000000,-95.000000,-91.000000,-93.000000,-95.000000,-90.000000,-89.000000,1.0
25%,-84.000000,-73.000000,-91.000000,-88.000000,-91.000000,-90.000000,-89.000000,-86.500000,-86.000000,1.0
50%,-80.000000,-70.500000,-91.000000,-86.000000,-87.900000,-90.000000,-88.000000,-82.800000,-83.600000,1.0
75%,-76.500000,-68.000000,-88.000000,-85.000000,-85.000000,-89.600000,-86.500000,-80.000000,-82.000000,1.0
max,-62.000000,-54.000000,-86.000000,-71.000000,-82.000000,-86.000000,-78.000000,-69.000000,-70.000000,1.0

In [15]:
df_ts.head()

,StudBME1,STUDBME2,SBME_STAFF3,SBME_STAFF,CUFE,RehabLab,lab001,CMP_LAB1,CMP_LAB2,location
0,-81,-55,-55,-88,-73,-50,-86,-62,-63,3
1,-83,-55,-58,-88,-72,-61,-86,-62,-63,3
2,-84,-70,-60,-88,-72,-55,-86,-58,-63,3
3,-84,-72,-58,-88,-71,-47,-86,-58,-63,3
4,-84,-71,-59,-88,-71,-57,-86,-67,-63,3

In [16]:
df_hall_4.head()

,StudBME1,STUDBME2,SBME_STAFF3,SBME_STAFF,CUFE,RehabLab,lab001,CMP_LAB1,CMP_LAB2,location
0,-58,-46,-84,-60,-83,-87,-70,-69,-65,4
1,-58,-51,-84,-69,-83,-94,-79,-65,-65,4
2,-65,-47,-84,-69,-79,-89,-74,-65,-65,4
3,-65,-46,-86,-80,-79,-87,-68,-58,-58,4
4,-65,-47,-81,-66,-72,-85,-72,-60,-53,4

In [17]:
df_hall_5.head()

,StudBME1,STUDBME2,SBME_STAFF3,SBME_STAFF,CUFE,RehabLab,lab001,CMP_LAB1,CMP_LAB2,location
0,-60,-55,-63,-86,-73,-72,-86,-55,-58,5
1,-60,-54,-70,-74,-68,-79,-86,-51,-53,5
2,-60,-54,-76,-74,-76,-72,-86,-53,-53,5
3,-60,-54,-68,-74,-68,-71,-88,-50,-53,5
4,-61,-57,-80,-78,-71,-72,-84,-53,-56,5

In [18]:
df_hall_6.head()

,StudBME1,STUDBME2,SBME_STAFF3,SBME_STAFF,CUFE,RehabLab,lab001,CMP_LAB1,CMP_LAB2,location
0,-74,-59,-84,-68,-73,-81,-83,-67,-67,6
1,-66,-58,-75,-71,-70,-81,-83,-56,-56,6
2,-66,-56,-77,-74,-65,-75,-83,-60,-61,6
3,-66,-55,-78,-74,-63,-80,-83,-60,-52,6
4,-73,-59,-76,-74,-68,-82,-86,-60,-52,6

In [19]:
df = pd.concat(dfs, ignore_index=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1053 entries, 0 to 1052
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   StudBME1     1053 non-null   float64
 1   STUDBME2     1053 non-null   float64
 2   SBME_STAFF3  1053 non-null   float64
 3   SBME_STAFF   1053 non-null   float64
 4   CUFE         1053 non-null   float64
 5   RehabLab     1053 non-null   float64
 6   lab001       1053 non-null   float64
 7   CMP_LAB1     1053 non-null   float64
 8   CMP_LAB2     1053 non-null   float64
 9   location     1053 non-null   int64
dtypes: float64(9), int64(1)
memory usage: 82.4 KB

In [20]:
df = df.sample(frac=1)

In [21]:
df.head()

,StudBME1,STUDBME2,SBME_STAFF3,SBME_STAFF,CUFE,RehabLab,lab001,CMP_LAB1,CMP_LAB2,location
768,-73.0,-66.0,-69.0,-81.0,-63.0,-79.0,-81.0,-52.0,-54.0,6
160,-88.0,-53.0,-87.0,-87.1,-87.1,-88.0,-84.0,-74.0,-76.6,2
15,-73.0,-85.0,-86.0,-85.0,-87.0,-89.0,-85.0,-83.0,-81.0,1
328,-89.0,-70.0,-63.0,-87.0,-70.0,-58.0,-87.0,-71.0,-68.0,3
749,-66.0,-51.0,-72.0,-74.0,-70.0,-81.0,-77.0,-54.0,-53.0,5

<a id='model'></a>
## Building the Model

In [22]:
# Importations 
from sklearn.model_selection import train_test_split, GridSearchCV, cross_validate
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn import datasets
from sklearn.svm import SVC
from sklearn.metrics import precision_score, recall_score, confusion_matrix, roc_auc_score, classification_report

In [23]:
# Get target and feautre variables 
X = df.iloc[:, :-1].values
y = df.iloc[:, -1].values

In [24]:
classifiers = {
    'knn': KNeighborsClassifier(5),
    'NB': GaussianNB(),
    'tree': DecisionTreeClassifier(max_depth=10),
    'forest': RandomForestClassifier(n_estimators=10, max_depth=10),
    'SV': SVC(probability=True, gamma=0.001),
    'LR': LogisticRegression(solver='newton-cg', max_iter=400)
}

In [25]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [26]:
# Check Balancing 
pd.Series(y_train).value_counts()

5    127
4    125
2    123
3    120
7    117
6    116
1    114
dtype: int64

In [27]:
X_train

array([[-85. , -81. , -91. , ..., -89. , -90. , -87. ],
       [-92. , -77. , -91. , ..., -89. , -84. , -80. ],
       [-60. , -44. , -80. , ..., -72. , -62. , -64. ],
       ...,
       [-83. , -69. , -89.7, ..., -88. , -87. , -82. ],
       [-86. , -66. , -91. , ..., -89. , -84. , -79. ],
       [-64. , -51. , -89. , ..., -76. , -68. , -66. ]])

In [28]:
# Metrics 
metrics = ['accuracy', 'f1_weighted', 'roc_auc_ovr_weighted', 'precision_weighted', 'recall_weighted']

# Cross Validate the models 
scores = {}
for name, clf in classifiers.items():
    print(f'Training {name} model .. ')
    res = cross_validate(clf, X_train, y_train, cv=10, scoring=metrics, return_estimator=True)
#     print(res)
    
    score = {"test_f1_weighted": np.mean(res['test_f1_weighted']), 
             'test_roc_auc_ovr_weighted': np.mean(res['test_roc_auc_ovr_weighted']), 
             'test_precision_weighted': np.mean(res['test_precision_weighted']),
             'test_recall_weighted': np.mean(res['test_recall_weighted']),
             'test_accuracy': np.mean(res['test_accuracy']),
             'estimator': res['estimator'][0]
            }
    
    print("test_f1_weighted", score['test_f1_weighted'])
    print('test_roc_auc_ovr', score['test_roc_auc_ovr_weighted'])
    print('test_precicison', score['test_precision_weighted'])
    print('test_recall', score['test_recall_weighted'])
    print('accuracy', score['test_accuracy'])
    print('\n')
    
    # Add each model`s scores to scores
    scores[name] = score

Training knn model ..
test_f1_weighted 0.9247820564677343
test_roc_auc_ovr 0.9885395375055717
test_precicison 0.9282124738007091
test_recall 0.9251680672268907
accuracy 0.9251680672268907


Training NB model ..
test_f1_weighted 0.9091802875451895
test_roc_auc_ovr 0.9938569507593806
test_precicison 0.9150814857605823
test_recall 0.9097619047619048
accuracy 0.9097619047619048


Training tree model ..
test_f1_weighted 0.8918406655754373
test_roc_auc_ovr 0.9423093730519625
test_precicison 0.8976940538453142
test_recall 0.8919187675070027
accuracy 0.8919187675070027


Training forest model ..
test_f1_weighted 0.9181342483640567
test_roc_auc_ovr 0.9916107629489292
test_precicison 0.9220670211169161
test_recall 0.917983193277311
accuracy 0.917983193277311


Training SV model ..
test_f1_weighted 0.930651827604567
test_roc_auc_ovr 0.9953548057377603
test_precicison 0.9354437704569006
test_recall 0.931078431372549
accuracy 0.931078431372549


Training LR model ..
test_f1_weighted 0.9187113358661124
test_roc_auc_ovr 0.9939058850221331
test_precicison 0.926106266457632
test_recall 0.9192577030812326
accuracy 0.9192577030812326

### Desicion

According to our application we decided to choose our model according to the F1 Score

In [29]:
# Find the best estimator according to one metric
choosen = 'test_' + metrics[4]
best_metric = [(name, res[choosen]) for name, res in scores.items()]
best_estimator = max(best_metric, key=lambda x: x[1])
print(f"The best estimator is {best_estimator[0]} with Score {best_estimator[1]} ({choosen})")

The best estimator is SV with Score 0.931078431372549 (test_recall_weighted)

In [30]:
# Fetch Estimator Object
# choosen_estimator = scores[best_estimator[0]]['estimator']
choosen_estimator = classifiers[best_estimator[0]]
choosen_estimator

SVC(gamma=0.001, probability=True)

In [31]:
# Train the choosen model
choosen_estimator.fit(X_train, y_train)

SVC(gamma=0.001, probability=True)

In [32]:
# Predict Using the choosen estimator 
res = choosen_estimator.predict(X_test)

#### Reporting the results

In [33]:
# Print the confusion matrix
confusion_matrix(y_test, res)

array([[36,  1,  0,  0,  0,  0,  0],
       [ 1, 25,  0,  0,  0,  0,  0],
       [ 0,  0, 31,  0,  0,  0,  0],
       [ 0,  0,  0, 25,  0,  0,  1],
       [ 0,  0,  0,  3, 21,  0,  0],
       [ 0,  0,  0,  0,  2, 32,  0],
       [ 1,  1,  0,  1,  0,  0, 30]])

In [34]:
# Show The classification Report
print(classification_report(y_test, res))

              precision    recall  f1-score   support

           1       0.95      0.97      0.96        37
           2       0.93      0.96      0.94        26
           3       1.00      1.00      1.00        31
           4       0.86      0.96      0.91        26
           5       0.91      0.88      0.89        24
           6       1.00      0.94      0.97        34
           7       0.97      0.91      0.94        33

    accuracy                           0.95       211
   macro avg       0.95      0.95      0.94       211
weighted avg       0.95      0.95      0.95       211

In [35]:
# Save the model 
from joblib import dump

In [36]:
dump(choosen_estimator, 'child/model.joblib')

['child/model.joblib']

#### Tunning

In [37]:
hp = {
    'C': [0.1, 0.01, 0.001],
    'kernel': ['linear', 'poly', 'rbf', 'sigmoid'],
    'gamma': ['scale', 'auto'],
    'max_iter': [1000, 2000, -1],
    
}

In [38]:
gridres = GridSearchCV(choosen_estimator, hp, scoring=metrics, n_jobs=3, refit=metrics[3])

In [39]:
gridres.fit(X_train, y_train)

GridSearchCV(estimator=SVC(gamma=0.001, probability=True), n_jobs=3,
             param_grid={'C': [0.1, 0.01, 0.001], 'gamma': ['scale', 'auto'],
                         'kernel': ['linear', 'poly', 'rbf', 'sigmoid'],
                         'max_iter': [1000, 2000, -1]},
             refit='precision_weighted',
             scoring=['accuracy', 'f1_weighted', 'roc_auc_ovr_weighted',
                      'precision_weighted', 'recall_weighted'])

In [40]:
gridres.cv_results_

{'mean_fit_time': array([0.01951065, 0.02303329, 0.01983743, 0.02259946, 0.0261138 ,
        0.03483882, 0.04597077, 0.04574018, 0.04481649, 0.06012683,
        0.06018195, 0.06231785, 0.01796498, 0.01877294, 0.01956091,
        0.02906384, 0.04003263, 3.68800879, 0.12513833, 0.12284765,
        0.12590365, 0.06458383, 0.06555858, 0.06331029, 0.01415801,
        0.01355152, 0.01632924, 0.01723876, 0.01634407, 0.01674738,
        0.10094666, 0.10056076, 0.09932976, 0.06519637, 0.0650928 ,
        0.07355442, 0.01382055, 0.01469259, 0.01494021, 0.03116922,
        0.0431006 , 4.49192719, 0.11766944, 0.12388568, 0.12041817,
        0.06499   , 0.06549559, 0.07267904, 0.01593204, 0.01464992,
        0.01340404, 0.01345534, 0.01360197, 0.01367188, 0.09882698,
        0.10250902, 0.11113391, 0.06941566, 0.08555369, 0.07120342,
        0.01323605, 0.01422615, 0.01374645, 0.02939167, 0.04137726,
        3.9855392 , 0.10932589, 0.11136866, 0.11898713, 0.06589866,
        0.06801257, 0.06829209]),
 'std_fit_time': array([1.37408376e-03, 3.56544416e-03, 1.28952498e-03, 2.09211468e-03,
        1.06130204e-03, 2.56930350e-03, 5.95829268e-04, 3.11518026e-04,
        1.58495239e-03, 1.21815597e-03, 1.00360451e-03, 7.38964361e-04,
        8.81445406e-04, 9.52556415e-04, 1.05328025e-03, 1.52580093e-03,
        1.56718918e-03, 1.75112273e+00, 2.34598069e-03, 7.05461739e-04,
        2.79593343e-03, 1.29585078e-03, 1.54233552e-03, 1.45332265e-03,
        9.68602231e-04, 7.68981662e-04, 3.63181348e-03, 4.94443658e-04,
        7.63054571e-04, 1.42516102e-03, 1.93761715e-03, 4.48116168e-03,
        2.97985363e-03, 2.03306744e-03, 9.83874749e-04, 8.74648538e-03,
        3.37905854e-04, 6.09296084e-04, 6.21788769e-04, 1.47895930e-03,
        1.50751332e-03, 2.95522675e+00, 1.93495507e-03, 1.40704916e-02,
        3.58196891e-03, 1.26794086e-03, 1.46675823e-03, 8.94276091e-03,
        6.23569697e-04, 1.15576502e-03, 2.82525095e-04, 8.21410661e-04,
        4.04294882e-04, 6.68775665e-04, 1.27220153e-03, 2.04985420e-03,
        8.88788165e-03, 2.64307318e-03, 8.28003912e-03, 8.20077613e-03,
        1.99085824e-04, 6.24884469e-04, 2.27024740e-04, 5.85098946e-04,
        1.40272018e-03, 2.22466248e+00, 3.29409691e-04, 1.61722085e-03,
        4.49477261e-03, 1.59510164e-03, 4.31590399e-03, 4.83559229e-04]),
 'mean_score_time': array([0.01452651, 0.00720234, 0.00829315, 0.00738831, 0.00742645,
        0.00725451, 0.01044288, 0.01024289, 0.01040525, 0.01024413,
        0.00946336, 0.0096395 , 0.00702004, 0.00712104, 0.00726571,
        0.00725794, 0.00712175, 0.00795865, 0.01158915, 0.01106811,
        0.01152086, 0.00990214, 0.00986905, 0.01031752, 0.00744815,
        0.00724521, 0.00929308, 0.0074698 , 0.00687528, 0.0071878 ,
        0.01200514, 0.0120966 , 0.0130919 , 0.01071291, 0.0104589 ,
        0.01207466, 0.00785422, 0.00821557, 0.00875006, 0.00798092,
        0.0078753 , 0.00822191, 0.01186447, 0.01181331, 0.01210747,
        0.01008453, 0.01047068, 0.01142144, 0.01027699, 0.00855074,
        0.00758643, 0.00779576, 0.00806131, 0.0078814 , 0.01227169,
        0.01295524, 0.0147017 , 0.01338873, 0.01373048, 0.0121181 ,
        0.00727196, 0.00804224, 0.00773258, 0.00750303, 0.00759945,
        0.00730238, 0.011906  , 0.01262684, 0.013129  , 0.01071362,
        0.01098557, 0.01098981]),
 'std_score_time': array([8.70051281e-03, 3.77842268e-04, 1.70625504e-03, 4.14926516e-04,
        3.79485765e-04, 9.68101099e-05, 1.86202169e-04, 2.51284740e-04,
        3.59516447e-04, 1.40092934e-03, 2.61280631e-04, 1.25527959e-04,
        2.28341697e-04, 4.11536336e-04, 7.70989309e-04, 9.41473883e-05,
        1.33964631e-04, 1.17906326e-03, 5.99333940e-04, 2.66059538e-04,
        5.09862956e-04, 1.84992821e-04, 1.02391762e-04, 9.08886540e-04,
        5.33257067e-04, 4.36650896e-04, 3.07316267e-03, 6.52872555e-04,
        1.15178335e-04, 3.69871411e-04, 1.35571052e-04, 8.76979210e-04,
        1.44864018e-03, 5.27245778e-04, 2.14832016e-04, 3.84747139e-03,
        1.09932865e-03, 1.55285047e-03, 1.84136571e-03, 5.70488833e-04,
        5.38186555e-04, 1.23098169e-03, 5.85638799e-04, 1.30485824e-04,
        6.67270586e-04, 4.16324106e-04, 5.05088877e-04, 1.16788260e-03,
        1.86330645e-03, 5.59122193e-04, 1.56894237e-04, 5.44731336e-04,
        4.99280352e-04, 3.76419251e-04, 4.11686727e-04, 3.73426227e-04,
        1.57290969e-03, 2.25188081e-03, 3.98826838e-03, 4.84679245e-03,
        9.97332474e-05, 9.07707227e-04, 1.75922308e-04, 2.08999799e-04,
        3.59366027e-04, 4.70847819e-04, 2.45096554e-04, 3.73696018e-04,
        7.50496516e-04, 5.51552110e-04, 5.80398491e-04, 1.01874011e-03]),
 'param_C': masked_array(data=[0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1,
                    0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1, 0.1,
                    0.1, 0.1, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01,
                    0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01,
                    0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.01, 0.001,
                    0.001, 0.001, 0.001, 0.001, 0.001, 0.001, 0.001, 0.001,
                    0.001, 0.001, 0.001, 0.001, 0.001, 0.001, 0.001, 0.001,
                    0.001, 0.001, 0.001, 0.001, 0.001, 0.001, 0.001],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_gamma': masked_array(data=['scale', 'scale', 'scale', 'scale', 'scale', 'scale',
                    'scale', 'scale', 'scale', 'scale', 'scale', 'scale',
                    'auto', 'auto', 'auto', 'auto', 'auto', 'auto', 'auto',
                    'auto', 'auto', 'auto', 'auto', 'auto', 'scale',
                    'scale', 'scale', 'scale', 'scale', 'scale', 'scale',
                    'scale', 'scale', 'scale', 'scale', 'scale', 'auto',
                    'auto', 'auto', 'auto', 'auto', 'auto', 'auto', 'auto',
                    'auto', 'auto', 'auto', 'auto', 'scale', 'scale',
                    'scale', 'scale', 'scale', 'scale', 'scale', 'scale',
                    'scale', 'scale', 'scale', 'scale', 'auto', 'auto',
                    'auto', 'auto', 'auto', 'auto', 'auto', 'auto', 'auto',
                    'auto', 'auto', 'auto'],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_kernel': masked_array(data=['linear', 'linear', 'linear', 'poly', 'poly', 'poly',
                    'rbf', 'rbf', 'rbf', 'sigmoid', 'sigmoid', 'sigmoid',
                    'linear', 'linear', 'linear', 'poly', 'poly', 'poly',
                    'rbf', 'rbf', 'rbf', 'sigmoid', 'sigmoid', 'sigmoid',
                    'linear', 'linear', 'linear', 'poly', 'poly', 'poly',
                    'rbf', 'rbf', 'rbf', 'sigmoid', 'sigmoid', 'sigmoid',
                    'linear', 'linear', 'linear', 'poly', 'poly', 'poly',
                    'rbf', 'rbf', 'rbf', 'sigmoid', 'sigmoid', 'sigmoid',
                    'linear', 'linear', 'linear', 'poly', 'poly', 'poly',
                    'rbf', 'rbf', 'rbf', 'sigmoid', 'sigmoid', 'sigmoid',
                    'linear', 'linear', 'linear', 'poly', 'poly', 'poly',
                    'rbf', 'rbf', 'rbf', 'sigmoid', 'sigmoid', 'sigmoid'],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_max_iter': masked_array(data=[1000, 2000, -1, 1000, 2000, -1, 1000, 2000, -1, 1000,
                    2000, -1, 1000, 2000, -1, 1000, 2000, -1, 1000, 2000,
                    -1, 1000, 2000, -1, 1000, 2000, -1, 1000, 2000, -1,
                    1000, 2000, -1, 1000, 2000, -1, 1000, 2000, -1, 1000,
                    2000, -1, 1000, 2000, -1, 1000, 2000, -1, 1000, 2000,
                    -1, 1000, 2000, -1, 1000, 2000, -1, 1000, 2000, -1,
                    1000, 2000, -1, 1000, 2000, -1, 1000, 2000, -1, 1000,
                    2000, -1],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False,
                    False, False, False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'C': 0.1, 'gamma': 'scale', 'kernel': 'linear', 'max_iter': 1000},
  {'C': 0.1, 'gamma': 'scale', 'kernel': 'linear', 'max_iter': 2000},
  {'C': 0.1, 'gamma': 'scale', 'kernel': 'linear', 'max_iter': -1},
  {'C': 0.1, 'gamma': 'scale', 'kernel': 'poly', 'max_iter': 1000},
  {'C': 0.1, 'gamma': 'scale', 'kernel': 'poly', 'max_iter': 2000},
  {'C': 0.1, 'gamma': 'scale', 'kernel': 'poly', 'max_iter': -1},
  {'C': 0.1, 'gamma': 'scale', 'kernel': 'rbf', 'max_iter': 1000},
  {'C': 0.1, 'gamma': 'scale', 'kernel': 'rbf', 'max_iter': 2000},
  {'C': 0.1, 'gamma': 'scale', 'kernel': 'rbf', 'max_iter': -1},
  {'C': 0.1, 'gamma': 'scale', 'kernel': 'sigmoid', 'max_iter': 1000},
  {'C': 0.1, 'gamma': 'scale', 'kernel': 'sigmoid', 'max_iter': 2000},
  {'C': 0.1, 'gamma': 'scale', 'kernel': 'sigmoid', 'max_iter': -1},
  {'C': 0.1, 'gamma': 'auto', 'kernel': 'linear', 'max_iter': 1000},
  {'C': 0.1, 'gamma': 'auto', 'kernel': 'linear', 'max_iter': 2000},
  {'C': 0.1, 'gamma': 'auto', 'kernel': 'linear', 'max_iter': -1},
  {'C': 0.1, 'gamma': 'auto', 'kernel': 'poly', 'max_iter': 1000},
  {'C': 0.1, 'gamma': 'auto', 'kernel': 'poly', 'max_iter': 2000},
  {'C': 0.1, 'gamma': 'auto', 'kernel': 'poly', 'max_iter': -1},
  {'C': 0.1, 'gamma': 'auto', 'kernel': 'rbf', 'max_iter': 1000},
  {'C': 0.1, 'gamma': 'auto', 'kernel': 'rbf', 'max_iter': 2000},
  {'C': 0.1, 'gamma': 'auto', 'kernel': 'rbf', 'max_iter': -1},
  {'C': 0.1, 'gamma': 'auto', 'kernel': 'sigmoid', 'max_iter': 1000},
  {'C': 0.1, 'gamma': 'auto', 'kernel': 'sigmoid', 'max_iter': 2000},
  {'C': 0.1, 'gamma': 'auto', 'kernel': 'sigmoid', 'max_iter': -1},
  {'C': 0.01, 'gamma': 'scale', 'kernel': 'linear', 'max_iter': 1000},
  {'C': 0.01, 'gamma': 'scale', 'kernel': 'linear', 'max_iter': 2000},
  {'C': 0.01, 'gamma': 'scale', 'kernel': 'linear', 'max_iter': -1},
  {'C': 0.01, 'gamma': 'scale', 'kernel': 'poly', 'max_iter': 1000},
  {'C': 0.01, 'gamma': 'scale', 'kernel': 'poly', 'max_iter': 2000},
  {'C': 0.01, 'gamma': 'scale', 'kernel': 'poly', 'max_iter': -1},
  {'C': 0.01, 'gamma': 'scale', 'kernel': 'rbf', 'max_iter': 1000},
  {'C': 0.01, 'gamma': 'scale', 'kernel': 'rbf', 'max_iter': 2000},
  {'C': 0.01, 'gamma': 'scale', 'kernel': 'rbf', 'max_iter': -1},
  {'C': 0.01, 'gamma': 'scale', 'kernel': 'sigmoid', 'max_iter': 1000},
  {'C': 0.01, 'gamma': 'scale', 'kernel': 'sigmoid', 'max_iter': 2000},
  {'C': 0.01, 'gamma': 'scale', 'kernel': 'sigmoid', 'max_iter': -1},
  {'C': 0.01, 'gamma': 'auto', 'kernel': 'linear', 'max_iter': 1000},
  {'C': 0.01, 'gamma': 'auto', 'kernel': 'linear', 'max_iter': 2000},
  {'C': 0.01, 'gamma': 'auto', 'kernel': 'linear', 'max_iter': -1},
  {'C': 0.01, 'gamma': 'auto', 'kernel': 'poly', 'max_iter': 1000},
  {'C': 0.01, 'gamma': 'auto', 'kernel': 'poly', 'max_iter': 2000},
  {'C': 0.01, 'gamma': 'auto', 'kernel': 'poly', 'max_iter': -1},
  {'C': 0.01, 'gamma': 'auto', 'kernel': 'rbf', 'max_iter': 1000},
  {'C': 0.01, 'gamma': 'auto', 'kernel': 'rbf', 'max_iter': 2000},
  {'C': 0.01, 'gamma': 'auto', 'kernel': 'rbf', 'max_iter': -1},
  {'C': 0.01, 'gamma': 'auto', 'kernel': 'sigmoid', 'max_iter': 1000},
  {'C': 0.01, 'gamma': 'auto', 'kernel': 'sigmoid', 'max_iter': 2000},
  {'C': 0.01, 'gamma': 'auto', 'kernel': 'sigmoid', 'max_iter': -1},
  {'C': 0.001, 'gamma': 'scale', 'kernel': 'linear', 'max_iter': 1000},
  {'C': 0.001, 'gamma': 'scale', 'kernel': 'linear', 'max_iter': 2000},
  {'C': 0.001, 'gamma': 'scale', 'kernel': 'linear', 'max_iter': -1},
  {'C': 0.001, 'gamma': 'scale', 'kernel': 'poly', 'max_iter': 1000},
  {'C': 0.001, 'gamma': 'scale', 'kernel': 'poly', 'max_iter': 2000},
  {'C': 0.001, 'gamma': 'scale', 'kernel': 'poly', 'max_iter': -1},
  {'C': 0.001, 'gamma': 'scale', 'kernel': 'rbf', 'max_iter': 1000},
  {'C': 0.001, 'gamma': 'scale', 'kernel': 'rbf', 'max_iter': 2000},
  {'C': 0.001, 'gamma': 'scale', 'kernel': 'rbf', 'max_iter': -1},
  {'C': 0.001, 'gamma': 'scale', 'kernel': 'sigmoid', 'max_iter': 1000},
  {'C': 0.001, 'gamma': 'scale', 'kernel': 'sigmoid', 'max_iter': 2000},
  {'C': 0.001, 'gamma': 'scale', 'kernel': 'sigmoid', 'max_iter': -1},
  {'C': 0.001, 'gamma': 'auto', 'kernel': 'linear', 'max_iter': 1000},
  {'C': 0.001, 'gamma': 'auto', 'kernel': 'linear', 'max_iter': 2000},
  {'C': 0.001, 'gamma': 'auto', 'kernel': 'linear', 'max_iter': -1},
  {'C': 0.001, 'gamma': 'auto', 'kernel': 'poly', 'max_iter': 1000},
  {'C': 0.001, 'gamma': 'auto', 'kernel': 'poly', 'max_iter': 2000},
  {'C': 0.001, 'gamma': 'auto', 'kernel': 'poly', 'max_iter': -1},
  {'C': 0.001, 'gamma': 'auto', 'kernel': 'rbf', 'max_iter': 1000},
  {'C': 0.001, 'gamma': 'auto', 'kernel': 'rbf', 'max_iter': 2000},
  {'C': 0.001, 'gamma': 'auto', 'kernel': 'rbf', 'max_iter': -1},
  {'C': 0.001, 'gamma': 'auto', 'kernel': 'sigmoid', 'max_iter': 1000},
  {'C': 0.001, 'gamma': 'auto', 'kernel': 'sigmoid', 'max_iter': 2000},
  {'C': 0.001, 'gamma': 'auto', 'kernel': 'sigmoid', 'max_iter': -1}],
 'split0_test_accuracy': array([0.9112426 , 0.9112426 , 0.9112426 , 0.9112426 , 0.91715976,
        0.91715976, 0.91715976, 0.91715976, 0.91715976, 0.15384615,
        0.15384615, 0.15384615, 0.9112426 , 0.9112426 , 0.9112426 ,
        0.73964497, 0.9112426 , 0.90532544, 0.15384615, 0.15384615,
        0.15384615, 0.15384615, 0.15384615, 0.15384615, 0.9112426 ,
        0.9112426 , 0.9112426 , 0.92307692, 0.92307692, 0.92307692,
        0.40236686, 0.40236686, 0.40236686, 0.15384615, 0.15384615,
        0.15384615, 0.9112426 , 0.9112426 , 0.9112426 , 0.73964497,
        0.9112426 , 0.90532544, 0.15384615, 0.15384615, 0.15384615,
        0.15384615, 0.15384615, 0.15384615, 0.92307692, 0.92307692,
        0.92307692, 0.90532544, 0.90532544, 0.90532544, 0.15384615,
        0.15384615, 0.15384615, 0.15384615, 0.15384615, 0.15384615,
        0.92307692, 0.92307692, 0.92307692, 0.73964497, 0.9112426 ,
        0.90532544, 0.15384615, 0.15384615, 0.15384615, 0.15384615,
        0.15384615, 0.15384615]),
 'split1_test_accuracy': array([0.9112426 , 0.9112426 , 0.9112426 , 0.9112426 , 0.90532544,
        0.89940828, 0.90532544, 0.90532544, 0.90532544, 0.15384615,
        0.15384615, 0.15384615, 0.9112426 , 0.9112426 , 0.9112426 ,
        0.85207101, 0.77514793, 0.87573964, 0.15384615, 0.15384615,
        0.15384615, 0.15384615, 0.15384615, 0.15384615, 0.89940828,
        0.89940828, 0.89940828, 0.9112426 , 0.9112426 , 0.9112426 ,
        0.40828402, 0.40828402, 0.40828402, 0.15384615, 0.15384615,
        0.15384615, 0.89940828, 0.89940828, 0.89940828, 0.85207101,
        0.77514793, 0.87573964, 0.15384615, 0.15384615, 0.15384615,
        0.15384615, 0.15384615, 0.15384615, 0.89940828, 0.89940828,
        0.89940828, 0.90532544, 0.90532544, 0.90532544, 0.15384615,
        0.15384615, 0.15384615, 0.15384615, 0.15384615, 0.15384615,
        0.89940828, 0.89940828, 0.89940828, 0.85207101, 0.77514793,
        0.87573964, 0.15384615, 0.15384615, 0.15384615, 0.15384615,
        0.15384615, 0.15384615]),
 'split2_test_accuracy': array([0.91666667, 0.91666667, 0.91666667, 0.92261905, 0.92261905,
        0.92261905, 0.89880952, 0.89880952, 0.89880952, 0.14880952,
        0.14880952, 0.14880952, 0.91666667, 0.91666667, 0.91666667,
        0.85119048, 0.85119048, 0.91666667, 0.14880952, 0.14880952,
        0.14880952, 0.14880952, 0.14880952, 0.14880952, 0.91666667,
        0.91666667, 0.91666667, 0.91071429, 0.91071429, 0.91071429,
        0.3452381 , 0.3452381 , 0.3452381 , 0.14880952, 0.14880952,
        0.14880952, 0.91666667, 0.91666667, 0.91666667, 0.85119048,
        0.85119048, 0.91666667, 0.14880952, 0.14880952, 0.14880952,
        0.14880952, 0.14880952, 0.14880952, 0.91666667, 0.91666667,
        0.91666667, 0.91071429, 0.91071429, 0.91071429, 0.14880952,
        0.14880952, 0.14880952, 0.14880952, 0.14880952, 0.14880952,
        0.91666667, 0.91666667, 0.91666667, 0.85119048, 0.85119048,
        0.91666667, 0.14880952, 0.14880952, 0.14880952, 0.14880952,
        0.14880952, 0.14880952]),
 'split3_test_accuracy': array([0.92857143, 0.92857143, 0.92857143, 0.92261905, 0.92261905,
        0.92261905, 0.94047619, 0.94047619, 0.94047619, 0.14880952,
        0.14880952, 0.14880952, 0.92857143, 0.92857143, 0.92857143,
        0.85714286, 0.82142857, 0.89880952, 0.14880952, 0.14880952,
        0.14880952, 0.14880952, 0.14880952, 0.14880952, 0.94047619,
        0.94047619, 0.94047619, 0.92857143, 0.92857143, 0.92857143,
        0.39285714, 0.39285714, 0.39285714, 0.14880952, 0.14880952,
        0.14880952, 0.94047619, 0.94047619, 0.94047619, 0.85714286,
        0.82142857, 0.89880952, 0.14880952, 0.14880952, 0.14880952,
        0.14880952, 0.14880952, 0.14880952, 0.94642857, 0.94642857,
        0.94642857, 0.94047619, 0.94047619, 0.94047619, 0.14880952,
        0.14880952, 0.14880952, 0.14880952, 0.14880952, 0.14880952,
        0.94642857, 0.94642857, 0.94642857, 0.85714286, 0.82142857,
        0.89880952, 0.14880952, 0.14880952, 0.14880952, 0.14880952,
        0.14880952, 0.14880952]),
 'split4_test_accuracy': array([0.94642857, 0.94642857, 0.94642857, 0.94047619, 0.93452381,
        0.93452381, 0.91071429, 0.91071429, 0.91071429, 0.14880952,
        0.14880952, 0.14880952, 0.94642857, 0.94642857, 0.94642857,
        0.83928571, 0.86904762, 0.89285714, 0.14880952, 0.14880952,
        0.14880952, 0.14880952, 0.14880952, 0.14880952, 0.94642857,
        0.94642857, 0.94642857, 0.92857143, 0.92857143, 0.92857143,

In [41]:
best_estimator = gridres.best_estimator_

In [43]:
pred = best_estimator.predict(X_test)

# Show The classification Report
print(classification_report(y_test, res))

              precision    recall  f1-score   support

           1       0.95      0.97      0.96        37
           2       0.93      0.96      0.94        26
           3       1.00      1.00      1.00        31
           4       0.86      0.96      0.91        26
           5       0.91      0.88      0.89        24
           6       1.00      0.94      0.97        34
           7       0.97      0.91      0.94        33

    accuracy                           0.95       211
   macro avg       0.95      0.95      0.94       211
weighted avg       0.95      0.95      0.95       211

In [44]:
dump(best_estimator, 'child/model.joblib')

['child/model.joblib']